/* global */
a,
h1,
h2,
h3,
h4,
p,
span {
  letter-spacing: 0.5rem;
  font-size: 26px;
}

/* Sidebar */

.sidebar-wrapper {
  /* display: none; */
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
}

.sidebar-wrapper:hover {
  display: block;
}

.css-1se900q.ps-collapsed,
.css-1se900q {
  width: 100px;
  height: inherit;
  min-width: 100px;
}

/* img[alt="vinyl"] {
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  width: 40px;
} */

/* img[alt="vinyl"]:active {
  transform: rotate(120deg);
} */

img[alt="vinyl"],
img[alt="about"],
img[alt="contact"],
img[alt="events"],
img[alt="impress"],
img[alt="media"],
img[alt="partners"],
img[alt="shop"],
img[alt="team"],
img[alt="members"] {
  width: 26px;
  padding-top: 2.5rem;
}

/* Home */

.home {
  display: block;
  max-width: 100%;
  min-height: 100vh;
}

.image-map__content__img {
  height: 100%;
}

.image-map__content__img:not(.active) ~ *:after {
  display: none;
}

.teamLink:hover,
.mediaLink:hover,
.eventsLink:hover,
.aboutLink:hover,
.shopLink:hover,
.partnersLink:hover,
.contactLink:hover,
.impressumLink:hover {
  background: #919bcbac;
  border-radius: 9px;
}

.teamArrow::after {
  display: flex;
  content: "Team ⮡";
  color: rgba(9, 85, 192, 0.992);
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 24px;
  background: #a3addba3;
  border-radius: 9px;
}

.mediaArrow::after {
  display: flex;
  content: "Media ⮧";
  color: rgba(9, 85, 192, 0.992);
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 26px;
  background: #a3addba3;
  text-orientation: upright;
  border-radius: 9px;
}

.partnersArrow::after {
  display: flex;
  content: "Partners ⮥";
  color: rgba(9, 85, 192, 0.992);
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 26px;
  background: #a3addba3;
  text-orientation: upright;
  border-radius: 9px;
}

.eventsArrow::after {
  display: flex;
  content: "⮤ Events";
  color: rgba(9, 85, 192, 0.992);
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 26px;
  background: #a3addba3;
  border-radius: 9px;
}

.shopArrow::after {
  display: flex;
  content: "Shop ⮧";
  color: rgba(9, 85, 192, 0.992);
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 26px;
  background: #a3addba3;
  text-orientation: upright;
  border-radius: 9px;
}

.aboutArrow::after {
  display: flex;
  content: "About ⮦";
  color: rgba(9, 85, 192, 0.992);
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 26px;
  background: #a3addba3;
  border-radius: 9px;
}

.contactArrow::after {
  display: flex;
  content: "↵ Contact";
  color: rgba(9, 85, 192, 0.992);
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 26px;
  background: #a3addba3;
  border-radius: 9px;
}

.impressumArrow::after {
  display: flex;
  content: "⮤ Impressum";
  color: rgba(9, 85, 192, 0.992);
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 26px;
  background: #a3addba3;
  border-radius: 9px;
}

/* About */
.about {
  margin: 8rem;

}

.about-data {
  margin: 4rem 0;
}

.about-text {
  padding: 2rem;
}

.about-icons {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 3rem;
}

/* span, p, a {
  letter-spacing: 0.2rem;
  font-size: 16px;
} */

/* contact */
.contact-data {
  padding: 10rem;
}

/* events */
.events {
  text-align: left;
}

/* impressum */
.impressum {
  padding: 3rem;
}

.impressum-data {
  padding: 3rem;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 0.1rem;
  line-height: 1.8rem;
}

/* media */
.media {
  padding: 6rem;
}

.media-header {
  margin-bottom: 5rem;
}

.media-title {
  margin: 2rem;
  margin-left: 3rem;
  text-align: left;
}

.media-links {
  text-align: left;
}

/* partners */
.partners {
  padding: 4rem;
}

/* shop */
.shop {
  padding: 3rem;
  box-sizing: border-box;
}

.shop-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-data {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem;
  background: rgba(0, 0, 0, 0.417);
  border-radius: 9px;
  height: 28vh;
}

.card-left {
  display: inherit;
  align-items: center;
  flex: 2;
  max-width: fit-content;
}

.record-cover {
  min-width: 20vw;
}

.record-cover > img {
  border-radius: 9px;
}

.card-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: fit-content;
  flex: 2;
}

.card-right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.record-text {
  display: inherit;
  align-items: baseline;
  gap: 1.5rem;
  min-width: 40vw;
  height: 50%;
  color: white;
  white-space: nowrap;
}

.tracks {
  display: flex;
  gap: 1rem;
}

.track {
  display: inherit;
  align-items: center;
  background: rgb(163, 160, 160);
  border: 1px solid rgb(107, 105, 105);
  border-radius: 9px;
  padding: 0.4rem;
  gap: 0.2rem;
}

.price {
  border: 1px solid green;
  width: 3vw;
  font-size: larger;
  position: relative;
  display: block;
  left: 18rem;
  top: 1rem;
  color: white;
}

.cart {
  float: right;
  top: 2rem;
  font-size: 2rem;
}

/* CustomTabs */

.Tabs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Tabs {
  width: 10vw;
  max-height: 15vh;
  border-radius: 0.3rem;
  border: 1px solid black;
}

.Nav {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  background: lightslategray;
  cursor: pointer;
  padding: 0;
  border-radius: 0.6rem;
}

.Nav > li {
  width: 5vw;
  border: 1px solid grey;
}

.outlet {
  list-style: none;
}

/* Cart */

.cart-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}

/* team */
.team {
  display: block;
}

.team-title {
  margin: 2rem;
}

.team-data {
  margin: 1rem;
}

/* back
.back {
  display: flex;
}

.back-btn {
  border: none;
  background: none;
  border-radius: 9px;
}

.back-btn > a {
  font-size: 40px;
} */

@media screen and (max-width: 720px) {
  /* wrappers */
  .about,
  .contact,
  .events,
  .impressum,
  .media,
  .partners,
  .shop,
  .team {
    margin: 2rem;
    overflow: visible;
  }

  a, h1, h2, h3, h4, p, span {
    font-size: 18px;
  }
}
