.Home {
  display: block;
  max-width: 100%;
  max-height: 80%;
}

.teamImageMap:hover,
.mediaImageMap:hover,
.eventsImageMap:hover,
.aboutImageMap:hover,
.shopImageMap:hover,
.partnersImageMap:hover,
.contactImageMap:hover,
.impressumImageMap:hover {
  background: rgba(23, 23, 213, 0.681);
}
