.Home {
  display: block;
  max-width: 100%;
  max-height: 80%;
}

.team:hover,
.media:hover,
.events:hover,
.about:hover,
.shop:hover,
.partners:hover,
.contact:hover,
.impressum:hover {
  background: rgba(23, 23, 213, 0.681);
}
