.media, .featured, .press {
  padding: 6rem;
}

.featured-header {
  margin-bottom: 5rem;
}

.featured-title {
  margin: 2rem;
  margin-left: 3rem;
  text-align: left;
}

.featured-links {
  text-align: left;
}

a {
  text-decoration: none;
  font-size: 24px;
}
