.media, .featured {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 75vh;
  gap: 2rem;
}

.featured-title {
  margin: 2rem;
  text-align: left;
}

a {
  text-decoration: none;
  font-size: 24px;
}
