html, body {
  height: 99%;
  max-width: 100%;

}

* {
  font-family: 'Calgary Script';
}

.App {
  text-align: center;
}

@font-face {
  font-family: Calgary Script;
  src: url('../src/assets/fonts/CalgaryScript.ttf') format('ttf');
}
