html, body {
  height: 99%;
  max-width: 100%;

}

* {
  font-family: 'Helvetica Neue Condensed';
}

.App {
  text-align: center;
}

@font-face {
  font-family: Helvetica Neue Roman;
  src: local('./fonts/HelveticaNeue-Roman.ttf') format('otf');
  font-family: Helvetica Neue Condensed;
  src: local('./fonts/HelveticaNeueCondensedBlack.ttf') format('ttf');
}
