html {
  height: 99%;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Helvetica Neue Condensed';
}

.App {
  height: 100%;
  text-align: center;
}

@font-face {
  font-family: Helvetica Neue Roman;
  src: local('./fonts/HelveticaNeue-Roman.ttf') format('otf');
  font-family: Helvetica Neue Condensed;
  src: local('./fonts/HelveticaNeueCondensedBlack.ttf') format('ttf');
}
